.selectorForKey {
  background-color: red;
}

.randomSelector {
  font-size: 24px;

  container-name: containerNameShouldBeIgnored;
}

.buttonSelector {
  color: azure;
}

.unusedSelectorRandom {
  width: 34px;
}

.doubleUnused {
  height: 100px;
}

.doubleUnused {
  width: 100px;
}

.selectorAndButton > button {
  text-decoration: underline;
}

.selectorAndButton > .nestedSelectorAndButton {
  text-decoration: underline; /* TODO ^ selectors like this should be ignored */
}

.selectorForComponent {
  display: flex;
}

@container containerNameShouldBeIgnored (width > 700px) {
  .card {
    font-size: 2rem;
  }
}

@media (width > 1200px) {
  .cardTitle {
    font-size: 64px;
  }
}

.element {
  animation-name: someKeyframeName;
}

@keyframes someKeyframeName {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
